<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	</head>
	<body>
		<!-- TODO: make the avatar a link to the user's page -->
		<img src="https://images.app.goo.gl/WncKnB4biXVL7LMr8" width ="100" height ="100"/>
		<form th:action="@{/reviews/add}" th:method="POST" th:object="${review}">
			<input type="hidden" name = "userId" th:attr="value=${review.userId}"/>
			<input type="hidden" name = "bookId" th:attr="value=${review.bookId}"/>
			<textarea rows="3" th:field="*{content}" required></textarea>
			<input type="submit" th:attr="value=#{common.submit}"/>		
		</form>
	</body>
</html>

<!-- 
common.submit=Submit
 -->